.cycle1, .cycle2, .cycle3, .cycle4, .cycle5{
/*	position: absolute;
*/	height: 3em;
/*	width: 10em;
*//*	background-color: red;
*/	/*top: 20.2vw;
	left: 47vw;*/
    padding-left:0.8em;
    padding-right: 0.8em;
    position: absolute;
    opacity: 0;
    top: 30vh;
}
.cycle1{
	animation-name: cycleOneAnimate;
    animation-duration: 7000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: cycleOneAnimate;
    -webkit-animation-duration: 7000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: cycleOneAnimate;
    -moz-animation-duration: 7000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: cycleOneAnimate;
    -ms-animation-duration: 7000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}

.cycle2{
	animation-name: cycleTwoAnimate;
    animation-duration: 7000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: cycleTwoAnimate;
    -webkit-animation-duration: 7000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: cycleTwoAnimate;
    -moz-animation-duration: 7000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: cycleTwoAnimate;
    -ms-animation-duration: 7000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}
.cycle3{
    animation-name: cycleThreeAnimate;
    animation-duration: 7000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: cycleThreeAnimate;
    -webkit-animation-duration: 7000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: cycleThreeAnimate;
    -moz-animation-duration: 7000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: cycleThreeAnimate;
    -ms-animation-duration: 7000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}
.cycle4{
    animation-name: cycleFourAnimate;
    animation-duration: 7000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: cycleFourAnimate;
    -webkit-animation-duration: 7000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: cycleFourAnimate;
    -moz-animation-duration: 7000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: cycleFourAnimate;
    -ms-animation-duration: 7000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}
.cycle5{
    animation-name: cycleFiveAnimate;
    animation-duration: 7000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: cycleFiveAnimate;
    -webkit-animation-duration: 7000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: cycleFiveAnimate;
    -moz-animation-duration: 7000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: cycleFiveAnimate;
    -ms-animation-duration: 7000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
}
@-webkit-keyframes cycleOneAnimate {
    from {
        opacity: 0;
    }
    to {
/*        top: 20vw;

*/        opacity: 0;
    }
 /*   1%{
        position: absolute;
    }*/
  
 
}
@-webkit-keyframes cycleTwoAnimate {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
   
}
@-webkit-keyframes cycleThreeAnimate {
    from {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes cycleFourAnimate {
    from {
        top: 0vw;
        opacity: 0;
    }
    to {
        top: 0vw;
        opacity: 0;
        position: absolute;
    }
   
}
@-webkit-keyframes cycleFiveAnimate {
    from {
        top: -40px;
        opacity: 0;
    }
    to {
        top: -40px;
        opacity: 0;
    }
}
@-ms-keyframes cycleOneAnimate {
    from {
        opacity: 0;
    }
    to {
/*        top: 20vw;
*/        opacity: 0;
    }
 /*   1%{
        position: absolute;
    }*/
    1%{
        position: relative;
    }
    2%{
/*      transform: rotate(-180deg);
*/          
        top: -5vw;
        opacity: 0;    
    }
    10%{
        top: 0vw;
        opacity: 1;
    }
    13%{
        opacity: 1;
    }

    17%{
        opacity: 0;
    }
    18%{
        position: relative;

    }
    19%{
        position: absolute;

    }
    48%{
    }

    50%{

    }

    75%{


    }
    99%{
        position: absolute;
    }
    100%{
        position: absolute;
    }
 
}
@-moz-keyframes cycleOneAnimate {
    from {
        opacity: 0;
    }
    to {
/*        top: 20vw;
*/        opacity: 0;
    }
 /*   1%{
        position: absolute;
    }*/
    1%{
        position: relative;
    }
    2%{
/*      transform: rotate(-180deg);
*/          
        top: -5vw;
        opacity: 0;    
    }
    10%{
        top: 0vw;
        opacity: 1;
    }
    13%{
        opacity: 1;
    }

    17%{
        opacity: 0;
    }
    18%{
        position: relative;

    }
    19%{
        position: absolute;

    }
    48%{
    }

    50%{

    }

    75%{


    }
    99%{
        position: absolute;
    }
    100%{
        position: absolute;
    }
 
}

@keyframes cycleOneAnimate {
    from {
        opacity: 0;
        position: relative;
    }
    to {
/*        top: 20vw;

*/        opacity: 0;
        position: relative;
    }
 /*   1%{
    	position: absolute;
    }*/
    1%{
    	position: relative;
    }
    2%{
/*    	transform: rotate(-180deg);
*/   
    	top: -5vw;
   		opacity: 0;    
    }
    10%{
    	top: 0vw;
    	opacity: 1;
    }
    13%{
        opacity: 1;
    }
    17%{
    	opacity: 0;
    }
    18%{
    	position: relative;
    }
    19%{
    	position: absolute;
    }
    48%{
    }
    50%{
    }
    75%{
    }
    99%{
        position: absolute;
    }
    100%{
        position: absolute;
    }
}
@-ms-keyframes cycleTwoAnimate {
    from {
        top: 0vw;
        opacity: 0;
    }
    to {
        top: 0vw;
        opacity: 0;
        position: absolute;
    }
    0%{
        position: absolute;
    }
    18%{
        position: absolute;
    }
    19%{
        position: relative;
        opacity: 0;
        top: -5vw;
    }
    27%{
        top: 0vw;
        opacity: 1;
    }
    34%{
        opacity: 1;
    }
    38%{
        opacity: 0;
    }
    39%{        
        opacity: 0;
        position: relative;
    }
    40%{
        position: absolute;
    }
    41%{
        position: absolute;
    }
}
@-moz-keyframes cycleTwoAnimate {
    from {
        top: 0vw;
        opacity: 0;
    }
    to {
        top: 0vw;
        opacity: 0;
        position: absolute;
    }
    0%{
        position: absolute;
    }
    18%{
        position: absolute;
    }
    19%{
        position: relative;
        opacity: 0;
        top: -5vw;
    }
    27%{
        top: 0vw;
        opacity: 1;
    }
    34%{
        opacity: 1;
    }
    38%{
        opacity: 0;
    }
    39%{        
        opacity: 0;
        position: relative;
    }
    40%{
        position: absolute;
    }
    41%{
        position: absolute;
    }
}

@keyframes cycleTwoAnimate {
    from {
        top: 0vw;
        opacity: 0;
    }
    to {
        top: 0vw;
        opacity: 0;
        position: absolute;
    }
    0%{
    	position: absolute;
    }
    18%{
    	position: absolute;
    }
    19%{
    	position: relative;
    	opacity: 0;
    	top: -5vw;
    }
    27%{
    	top: 0vw;
    	opacity: 1;
    }
    34%{
        opacity: 1;
    }
    38%{
        opacity: 0;
    }
    39%{    	
    	opacity: 0;
        position: relative;
    }
    40%{
        position: absolute;
    }
    41%{
        position: absolute;
    }
}
@-ms-keyframes cycleThreeAnimate {
    from {
        top: 0vw;
        opacity: 0;
    }
    to {
        top: 0vw;
        opacity: 0;
        position: absolute;
    }
    0%{
        position: absolute;
    }
    39%{
        position: absolute;
    }
    40%{
        position: relative;
        opacity: 0;
        top: -5vw;
    }
    48%{
        top: 0vw;
        opacity: 1;
    }
    54%{
        opacity: 1;
    }
    58%{
        opacity: 0;
    }
    59%{        
        opacity: 0;
        position: relative;
    }
    60%{
        position: absolute;
    }
    61%{
        position: absolute;
    }
}
@-moz-keyframes cycleThreeAnimate {
    from {
        top: 0vw;
        opacity: 0;
    }
    to {
        top: 0vw;
        opacity: 0;
        position: absolute;
    }
    0%{
        position: absolute;
    }
    39%{
        position: absolute;
    }
    40%{
        position: relative;
        opacity: 0;
        top: -5vw;
    }
    48%{
        top: 0vw;
        opacity: 1;
    }
    54%{
        opacity: 1;
    }
    58%{
        opacity: 0;
    }
    59%{        
        opacity: 0;
        position: relative;
    }
    60%{
        position: absolute;
    }
    61%{
        position: absolute;
    }
}

@keyframes cycleThreeAnimate {
    from {
        top: 0vw;
        opacity: 0;
    }
    to {
        top: 0vw;
        opacity: 0;
        position: absolute;
    }
    0%{
        position: absolute;
    }

    39%{
        position: absolute;
    }
    40%{
        position: relative;
        opacity: 0;
        top: -5vw;
    }
    48%{
        top: 0vw;
        opacity: 1;
    }
    54%{
        opacity: 1;
    }
    58%{
        opacity: 0;
    }
    59%{        
        opacity: 0;
        position: relative;
    }
    60%{
        position: absolute;
    }
    61%{
        position: absolute;
    }
}
@-ms-keyframes cycleFourAnimate {
    from {
        top: 0vw;
        opacity: 0;
    }
    to {
        top: 0vw;
        opacity: 0;
        position: absolute;
    }
    0%{
        position: absolute;
    }
    59%{
        position: absolute;
    }
    60%{
        position: relative;
        opacity: 0;
        top: -5vw;
    }
    68%{
        top: 0vw;
        opacity: 1;
    }
    74%{
        opacity: 1;
    }
    78%{
        opacity: 0;
    }
    79%{        
        opacity: 0;
        position: relative;
    }
    80%{
        position: absolute;
    }
    81%{
        position: absolute;
    }
}
@-moz-keyframes cycleFourAnimate {
    from {
        top: 0vw;
        opacity: 0;
    }
    to {
        top: 0vw;
        opacity: 0;
        position: absolute;
    }
    0%{
        position: absolute;
    }
    59%{
        position: absolute;
    }
    60%{
        position: relative;
        opacity: 0;
        top: -5vw;
    }
    68%{
        top: 0vw;
        opacity: 1;
    }
    74%{
        opacity: 1;
    }
    78%{
        opacity: 0;
    }
    79%{        
        opacity: 0;
        position: relative;
    }
    80%{
        position: absolute;
    }
    81%{
        position: absolute;
    }
}

@keyframes cycleFourAnimate {
    from {
        top: 0vw;
        opacity: 0;
    }
    to {
        top: 0vw;
        opacity: 0;
        position: absolute;
    }
    0%{
        position: absolute;
    }
    59%{
        position: absolute;
    }
    60%{
        position: relative;
        opacity: 0;
        top: -5vw;
    }
    68%{
        top: 0vw;
        opacity: 1;
    }
    74%{
        opacity: 1;
    }
    78%{
        opacity: 0;
    }
    79%{        
        opacity: 0;
        position: relative;
    }
    80%{
        position: absolute;
    }
    81%{
        position: absolute;
    }
}
@-ms-keyframes cycleFiveAnimate {
    from {
        top: 0vw;
        opacity: 0;
    }
    to {
        top: 0vw;
        opacity: 0;
        position: absolute;
    }
    0%{
        position: absolute;
    }
    79%{
        position: absolute;
    }
    80%{
        position: relative;
        opacity: 0;
        top: -5vw;
    }
    88%{
        top: 0vw;
        opacity: 1;
    }
    94%{
        opacity: 1
    }
    98%{
        opacity: 0;
    }
    99%{        
        opacity: 0;
        position: relative;
    }
    100%{
        position: relative;
    }
}
@-moz-keyframes cycleFiveAnimate {
    from {
        top: 0vw;
        opacity: 0;
    }
    to {
        top: 0vw;
        opacity: 0;
        position: absolute;
    }
    0%{
        position: absolute;
    }
    79%{
        position: absolute;
    }
    80%{
        position: relative;
        opacity: 0;
        top: -5vw;
    }
    88%{
        top: 0vw;
        opacity: 1;
    }
    94%{
        opacity: 1
    }
    98%{
        opacity: 0;
    }
    99%{        
        opacity: 0;
        position: relative;
    }
    100%{
        position: relative;
    }
}

@keyframes cycleFiveAnimate {
    from {
        top: 0vw;
        opacity: 0;
    }
    to {
        top: 0vw;
        opacity: 0;
        position: absolute;
    }
    0%{
        position: absolute;
    }
    79%{
        position: absolute;
    }
    80%{
        position: relative;
        opacity: 0;
        top: -5vw;
    }
    88%{
        top: 0vw;
        opacity: 1;
    }
    94%{
        opacity: 1
    }
    98%{
        opacity: 0;
    }
    99%{        
        opacity: 0;
        position: relative;
    }
    100%{
        position: relative;
    }
}