.rock{
    position: absolute;
    background-color: gray;
    width: 10vw;
    height: 2vw;
    left: 62%;
    top: 18.9vw;
    border-radius: 5vw 5vw 0em 0em;
}
.tire_f, .tire_b{
    margin-top: 50vh;
    top: 2.7em;
    width: 2.2em;
    height: 2.2em;
    position: absolute;
    background-image: url("tiresmall.png");
    background-size: 100% 100%;
}

.jeep{
    position: absolute;
    margin-top: 50vh;
    width: 8em;
    height:5em; 
    animation-name: movement;
    animation-duration: 6000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: movement;
    -webkit-animation-duration: 6000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: movement;
    -moz-animation-duration: 6000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: movement;
    -ms-animation-duration: 6000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;

    background-image: url("jeepanimation.png");
    background-size: 100% 100%;
    top: 0em;

/*    margin-left: 1.8em;
*/}
.tire_b{
    margin-left: 5em;
    animation-name: back_tire;
    animation-duration: 6000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: back_tire;
    -webkit-animation-duration: 6000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: back_tire;
    -moz-animation-duration: 6000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: back_tire;
    -ms-animation-duration: 6000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
/*    right: 8em;
*/}
.tire_f{
    margin-left: 0.4em;
    animation-name: front_tire;
    animation-duration: 6000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: front_tire;
    -webkit-animation-duration: 6000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: front_tire;
    -moz-animation-duration: 6000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: front_tire;
    -ms-animation-duration: 6000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
/*    right: 8em;
*/}

/* Chrome, Safari, Opera */


/*@keyframes mymove {
    from {left: 0px;}
    to {left: 200px;}
}*/

@keyframes movement {
    from {
        left: 100%;
        top: 0em;
    }

    32%{
        transform: rotate(0deg);
    }
    34%{
        top: 0em;
        transform: rotate(10deg);
    }
    40%{
        top: -0.8em;
        transform: rotate(0deg);
    }
    50%{
        top: -0.8em;
        transform: rotate(-10deg);
    }
    55%{
        transform: rotate(0deg);
        top: 0em;
    }
    to {
        left: 0%;
        top: 0em;
    }
}
@-ms-keyframes movement {
    from { -ms-transform: left: 100%; }
    to { -ms-transform: right: 0%; }
}
@-moz-keyframes movement {
    from { -moz-transform: rotate(360deg); }
    to { -moz-transform: rotate(0deg); }
}
@-webkit-keyframes movement {
    from {
        left: 100%;
    }
    to {
        left: 0%;
    }
    32%{
        -webkit-transform: rotate(0deg);
    }
    37%{
        -webkit-transform: rotate(10deg);
    }
    45%{
         -webkit-transform: rotate(0deg);
    }
    50%{
         -webkit-transform: rotate(-10deg);
    }
    55%{
         -webkit-transform: rotate(0deg);
    }
}
@-webkit-keyframes front_tire {
from {
        -webkit-transform: rotate(720deg);
        left: 100%;
        top: 2.7em;
    }
    30%{
        top: 2.7em;
    }
    34%{
        top: 2em;
    }
    36%{
        top: 2em;
    }
    40%{
        top: 2.7em;
    }
    to {
        -webkit-transform: rotate(0deg);
        left: 0%;
        top: 2.7em;
    }
}
@keyframes front_tire {

    from {
        transform:rotate(720deg);
        left: 100%;
        top: 2.7em;
    }
    30%{
        top: 2.7em;
    }
    34%{
        top: 2em;
    }
    36%{
        top: 2em;
    }
    40%{
        top: 2.7em;
    }
    to {
        transform:rotate(0deg);
        left: 0%;
        top: 2.7em;
    }
}
@-webkit-keyframes back_tire {
    from {
         -webkit-transform: rotate(720deg);
        left: 100%;
    }
    to {
         -webkit-transform: rotate(0deg);
        left: 0%;
    }
}
@keyframes back_tire {

    from {
        transform:rotate(720deg);
        left: 100%;
    }
    to {
        transform:rotate(0deg);
        left: 0%;
    }
}